---
import GitHub from "./icons/GitHub.astro"
import Html5  from "./icons/Html5.astro"
import Css from "./icons/Css.astro"
import Javascript from "./icons/JavaScript.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  HTML5: {
    name: "HTML5",
    class: "bg-[#773521] text-white",
    icon: Html5,  
  },
  CSS: {
    name: "CSS3",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#776b19] text-white",
    icon: Javascript,
  },
}
const PROJECTS = [
  {
    title: "Tienda",
    description:
      "JavaScript diseñado para gestionar la funcionalidad del carrito de la compra en un sitio web. Obtiene los datos de los productos de un archivo JSON, muestra los productos y permite a los usuarios añadir, eliminar y ajustar la cantidad de productos en su cesta de la compra. Los datos del carrito se almacenan en la memoria local del navegador.",
    link: "https://deniskawata.github.io/Tienda/",
    github: "https://github.com/DenisKawata/Tienda",
    image: "/projects/tienda.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.JS],
  },
  {
    title: "Tetris",
    description:
      "Popular juego Tetris usando HTML5 Canvas API. El juego presenta una cuadrícula 2D en la que caen bloques de diferentes formas desde la parte superior de la cuadrícula. El jugador puede mover los bloques a izquierda y derecha, rotarlos y hacerlos caer más rápido utilizando las teclas de flecha y la barra espaciadora. El juego termina cuando un bloque alcanza la parte superior de la cuadrícula y no puede moverse más.",
    link: "https://tetris-rush-game.netlify.app/",
    github: "https://github.com/DenisKawata/tetris",
    image: "/projects/tetris.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.JS],
  },
  {
    title: "Shala Prana Yoga - Sitio web de clases de Yoga",
    description:
      "Web adaptable a dispositivos móviles con tarjetas de paquetes de clases y descripciones de distintas disciplinas, con conexiones a redes sociales, mail, Google maps, WhatsApp.",
    link: "https://deniskawata.github.io/Shalapranayoga/",
    github: "https://github.com/DenisKawata/Shalapranayoga",
    image: "/projects/shalapranayoga.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.JS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Imagenes de Proyectos" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>